<nav
  class="flex justify-between items-center bg-red-500 text-white font-semibold p-3"
>
  <button
    routerLink=""
    routerLinkActive="active"
    class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
  >
    Home
  </button>
  <ng-container *ngIf="name"
    ><p>Welcome {{ name }}</p></ng-container
  >
  <ng-container *ngIf="isAdmin">
    <button
      routerLink="admin-page"
      routerLinkActive="active"
      class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
    >
      Admin Page
    </button>
  </ng-container>
  <div class="space-x-2">
    <ng-container *ngIf="name">
      <button
        (click)="logoutHandler()"
        class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
      >
        Logout
      </button>
    </ng-container>
    <ng-container *ngIf="!name">
      <button
        routerLink="login"
        routerLinkActive="active"
        class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
      >
        Login
      </button>
    </ng-container>
    <ng-container *ngIf="!name">
      <button
        routerLink="signup"
        routerLinkActive="active"
        class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
      >
        Signup
      </button>
    </ng-container>
  </div>
</nav>
