<nav
  class="flex justify-between items-center bg-red-500 text-white font-semibold p-3"
>
  <button
    routerLink=""
    routerLinkActive="active"
    class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
  >
    Home
  </button>
  <div class="space-x-2">
    <button
      routerLink="login"
      routerLinkActive="active"
      class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
    >
      Login
    </button>
    <button
      routerLink="signup"
      routerLinkActive="active"
      class="rounded-md hover:bg-red-400 hover:text-gray-200 p-2"
    >
      Signup
    </button>
  </div>
</nav>
