<div class="flex p-2 text-red-500 text-lg font-semibold h-[93vh]">
  <ng-container *ngIf="name">
    <aside class="w-2/5">
      <h3 class="border-b-2 px-2 text-xl font-semibold">Users</h3>
      <ng-container *ngFor="let user of users">
        <p
          (click)="receiver = user"
          class="px-2 py-1 rounded-md border-b-[1px] cursor-pointer hover:bg-red-500 hover:text-white"
        >
          {{ user.name }}
        </p>
      </ng-container>
    </aside>
    <div class="w-3/5 border-l-2">
      <ng-container *ngIf="!receiver">
        <p class="border-b-2 px-2 text-xl font-semibold">
          Select a user to chat with
        </p>
      </ng-container>
      <ng-container *ngIf="receiver">
        <p class="border-b-2 px-2 text-md">{{ receiver.name }}</p>
      </ng-container>
      <div class="flex justify-center items-center p-2 h-[90%]">
        Messages will be displayed here
      </div>
      <div class="space-x-2 p-2">
        <input
          class="w-[90%] my-1 outline-none text-gray-700 py-1 px-2 border-2 border-red-100 rounded-lg focus:border-0 focus:outline-red-200"
          type="text"
          name="message"
          id="message"
          [(ngModel)]="message"
        />
        <button
          (click)="sendMessage()"
          class="py-2 px-3 text-red-200 font-semibold rounded-md my-2 hover:bg-red-100 hover:text-red-500"
        >
          Send -->
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!name">
    <p>You need to <a routerLink="login">login</a> to use the app</p>
  </ng-container>
</div>
